<!-- Site wrapper -->
<div class="wrapper">
    <script>function display_ct7() {
        var x = new Date()
        var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
        hours = x.getHours( ) % 12;
        hours = hours ? hours : 12;
        hours=hours.toString().length==1? 0+hours.toString() : hours;
        
        var minutes=x.getMinutes().toString()
        minutes=minutes.length==1 ? 0+minutes : minutes;
        
        var seconds=x.getSeconds().toString()
        seconds=seconds.length==1 ? 0+seconds : seconds;
        
        var month=(x.getMonth() +1).toString();
        month=month.length==1 ? 0+month : month;
        
        var dt=x.getDate().toString();
        dt=dt.length==1 ? 0+dt : dt;
        
        var x1=dt + "/" + month + "/" + x.getFullYear(); 
        x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
    
        document.getElementById('ct7').style.fontSize='20px';
        document.getElementById('ct7').style.color='black';
        document.getElementById('ct7').innerHTML = x1;
        display_c7();
         }
         function display_c7(){
            var refresh=1000; // Refresh rate in milli seconds
            mytime=setTimeout('display_ct7()',refresh)
        }
        display_c7()
    </script>
    <section class="content">
        <!--Form Start Here-->
    <div class="row" ng-hide="Model.showAdminView">
        <div class="col-md-6">
            <div class="box-header">
                <label style="font-size:large;color: blue;background-color: rgba(254, 243, 137, 0.991);padding: 10px;">PC URL : http://{{Model.pcurl}}:8081  <br><span id='ct7' style="color:black;font-size: large;font-weight: bold;text-transform: uppercase;;text-align: right;background-color: rgba(254, 243, 137, 0.991);"></span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-header" style="text-align:right">
                <img ng-click="updateDateTime()" src="../images/accent.png" style="height:70px;text-align: right;"></img>
                <img on-click-reset-hold="resetData()" src="../images/skf.jpg" style="height:70px;text-align: right;"></img>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="reset()" class="btn btn-primary" style="width:100%">RESET</button>
            </div>
        </div>
        <div ng-if="Model.status == 1" class="col-md-2" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="before()" class="btn btn-success" style="width:100%">BEFORE</button>
            </div>
        </div>
        <div ng-if="Model.status == 0" class="col-md-2" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="before()" class="btn btn-danger" style="width:100%">BEFORE</button>
            </div>
        </div>
        <div ng-if="Model.status == 0" class="col-md-2" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="after()" class="btn btn-success" style="width:100%">AFTER</button>
            </div>
        </div>
        <div ng-if="Model.status == 1" class="col-md-2" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="after()" class="btn btn-danger" style="width:100%">AFTER</button>
            </div>
        </div>
        <div class="col-md-3" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box-header">
                <button ng-click="Model.bearingMasterShow=true;Model.BearingTypeMaster='';Model.BearingMinWeight='';Model.BearingMaxWeight='';Model.UsernameMaster='';Model.UserCodeMaster='';" class="btn btn-primary" style="width:100%">BEARING MASTER</button>
            </div>
        </div>
        <div class="col-md-3" ng-hide="Model.showAdminView || (Model.userMasterShow || Model.bearingMasterShow)">
            <div class="box-header">
                <button ng-click="Model.userMasterShow=true;Model.BearingTypeMaster='';Model.BearingMinWeight='';Model.BearingMaxWeight='';Model.UsernameMaster='';Model.UserCodeMaster='';" class="btn btn-primary" style="width:100%">USERS MASTER</button>
            </div>
        </div>
        <!-- <div class="col-md-6" ng-hide="!Model.showAdminView">
            <div class="box-header">
                <label style="opacity:0%">Keypad</label>
            </div>
        </div> -->
        <!-- <div class="col-md-2">
            <div class="box-header">
                <button ng-click="Model.kbView = !Model.kbView" class="btn btn-warning" style="width:100%;color: width;;font-weight: bold;background-color: black;">KEYBOARD</button>
            </div>
        </div> -->
        <!-- <div class="col-md-9">
            <div class="box-header">
                <marquee behavior="scroll" direction="left" style="font-style: italic;font-weight: bold;font-size: large;color: red;">ACCENT INSTRUMENTS</marquee>
            </div>
        </div> -->

        <!-- <div class="col-md-6" style="text-align: right;">
            
        </div> -->
    </div>
    <div class="row" ng-hide="!Model.kbView">
        <div class="col-md-6">
            <div class="form-group">
                <label>Keypad</label>
                <input ng-model="Model.keypad" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label style="opacity: 0%">DONE</label>
                <button ng-click="kbClose(1)" class="btn btn-success" style="width:100%;color: width;font-weight: bold;">ENTER</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label style="opacity: 0%">DONE</label>
                <button ng-click="kbClose(0)" class="btn btn-primary" style="width:100%;color: width;font-weight: bold;">CANCEL</button>
            </div>
        </div>
        <div class="col-md-1" ng-repeat="i in [1,2,3,4,5,6,7,8,9,0]">
            <button ng-click="Model.keypad=Model.keypad+''+i" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">{{i}}</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'-'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">-</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'+'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">+</button>
        </div>
        <div class="col-md-1" ng-repeat="i in ['A','B','C','D','E','F','G' ,'H' ,'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q' ,'R' ,'S' ,'T' ,'U' ,'V' ,'W' ,'X', 'Y', 'Z']">
            <button ng-click="Model.keypad=Model.keypad+''+i" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">{{i}}</button>
        </div>
        <div class="col-md-1" ng-repeat="i in ['a','b','c','d','e','f','g' ,'h' ,'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q' ,'r' ,'s' ,'t' ,'u' ,'v' ,'w' ,'x', 'y', 'z']">
            <button ng-click="Model.keypad=Model.keypad+''+i" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">{{i}}</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+' '" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: medium;font-weight: bold;">SPACE</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad.substring(0,Model.keypad.length-1)" class="btn btn-primary" style="margin-top:5px;width:70px;background-color: gainsboro;color: blue;font-size: medium;font-weight: bold;">BACK</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'_'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">_</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'_'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">_</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'.'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">.</button>
        </div>
        <div class="col-md-1">
            <button ng-click="Model.keypad=Model.keypad+'@'" class="btn btn-primary" style="margin-top:7px;width:70px;background-color: gainsboro;color: blue;font-size: large;font-weight: bold;">@</button>
        </div>
         

    </div>

    <div class="row" ng-hide="Model.kbView">
        <div ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)" class="col-md-6">
            <div ng-if="Model.status == 1 && !Model.BearingNo" class="box-header" style="background-color: black;text-align: right;">
                <h3 class="box-title" style="font-size:50px;color: white;background-color:'black'">{{ Model.cWeight }} kg</h3>
            </div>

            <div ng-if="Model.status == 1 && Model.BearingNo" class="box-header" style="background-color: black;text-align: right;">
                <h3 class="box-title" style="font-size:50px;color: white;background-color:'black'">{{ Model.cWeight }} kg</h3>
            </div>
            <div ng-if="Model.status == 0 && Model.cWeight >= Model.BearingNo.MinWt && Model.cWeight <= Model.BearingNo.MaxWt" class="box-header" style="background-color: green;text-align: right;">
                <h3 class="box-title" style="font-size:50px;color: white;background-color:'black'">{{ Model.cWeight }} kg</h3>
            </div>
            <div ng-if="Model.status == 0 && Model.cWeight < Model.BearingNo.MinWt || Model.cWeight > Model.BearingNo.MaxWt" class="box-header" style="background-color: red;text-align: right;">
                <h3 class="box-title" style="font-size:50px;color: white;background-color:'black'">{{ Model.cWeight }} kg</h3>
            </div>
        </div>
        <div ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)" class="col-md-6">
            <div class="box-header">
                <button ng-click="enterWeight()" class="btn btn-primary" style="width:100%">PRINT</button>
            </div>
        </div>
        
    </div>
    

    <div class="row" ng-hide="Model.kbView || (!Model.bearingMasterShow && !Model.userMasterShow)">
        <div class="col-md-6" ng-hide="Model.showAdminView">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div>
                            <div class="form-group" ng-hide="!Model.bearingMasterShow">
                                <label>BEARING TYPE</label>
                                <input ng-focus="Model.input = 5;Model.keypad='';Model.kbView = true" ng-model="Model.BearingTypeMaster" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group" ng-hide="!Model.bearingMasterShow">
                                <label>MIN. WEIGHT</label>
                                <input ng-focus="Model.input = 6;Model.keypad='';Model.kbView = true" ng-model="Model.BearingMinWeight" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group" ng-hide="!Model.bearingMasterShow">
                                <label>MAX. WEIGHT</label>
                                <input ng-focus="Model.input = 7;Model.keypad='';Model.kbView = true" ng-model="Model.BearingMaxWeight" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group" ng-hide="!Model.bearingMasterShow">
                                <button ng-click="saveBearingType()" class="btn btn-primary" style="width:50%;float: left;">SAVE</button>
                                <button ng-click="Model.bearingMasterShow=false" class="btn btn-danger" style="width:45%;float: left;margin-left: 5px;">CANCEL</button>
                            </div>
                            <div class="form-group" ng-hide="!Model.userMasterShow">
                                <label>USER NAME</label>
                                <input ng-focus="Model.input = 8;Model.keypad='';Model.kbView = true" ng-model="Model.UsernameMaster" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group" ng-hide="!Model.userMasterShow">
                                <label>USER CODE</label>
                                <input ng-focus="Model.input = 9;Model.keypad='';Model.kbView = true" ng-model="Model.UserCodeMaster" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group" ng-hide="!Model.userMasterShow">
                                <button ng-click="saveUsers()" class="btn btn-primary" style="width:50%;float: left;">SAVE</button>
                                <button ng-click="Model.userMasterShow=false" class="btn btn-danger" style="width:45%;float: left;margin-left: 5px;">CANCEL</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div>
        </div>
        <div class="col-md-6" ng-hide="Model.showAdminView || !Model.bearingMasterShow">
            <div class="box-body table-responsive no-padding" style="max-height:600px;overflow-x: auto !important;">
                <table class="table">
                    <thead style="position: sticky;top: 0;background-color: lightgrey;color: black;font-size: larger;">
                        <tr>
                            <th>BEARING TYPE</th>
                            <th>MIN. WEIGHT</th>
                            <th>MAX. WEIGHT</th>
                            <th style="width:10%;text-align: center;">DELETE</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in Model.bearingTypesMaster track by $index">
                        <td>{{item.Name}}</td>
                        <td>{{item.MinWt}}</td>
                        <td>{{item.MaxWt}}</td>
                        <td style="width:10%;text-align: center;"><button ng-click="removeBearingType(item)" class="btn btn-danger" style="width:100%">DELETE</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6" ng-hide="Model.showAdminView || !Model.userMasterShow">
            <div class="box-body table-responsive no-padding" style="max-height:600px;overflow-x: auto !important;">
                <table class="table">
                    <thead style="position: sticky;top: 0;background-color: lightgrey;color: black;font-size: larger;">
                        <tr>
                            <th>USER NAME</th>
                            <th>USER CODE</th>
                            <th style="width:10%;text-align: center;">DELETE</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in Model.usersDataMaster track by $index">
                        <td>{{item.Name}}</td>
                        <td>{{item.Code}}</td>
                        <td style="width:10%;text-align: center;"><button ng-click="removeUserItem(item)" class="btn btn-danger" style="width:100%">DELETE</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="row" ng-hide="Model.kbView">
        <div class="col-md-6" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div>
                            <div class="form-group">
                                <label>BEARING TYPE</label>
                                <select ng-model="Model.BearingNo" class="form-control" ng-options="item.Name for item in Model.bearingTypesMaster" style="font-weight:bold"></select>
                                <!-- <select class="form-control" ng-model="Model.BearingNo">
                                    <option ng-repeat="BearingNo in Model.bearingTypesMaster track by $index" value="{{BearingNo}}">{{BearingNo.Name}}</option>
                                </select> -->
                                <!-- <input ng-focus="Model.input = 1;Model.keypad=Model.BearingNo;Model.kbView = true" ng-model="Model.BearingNo" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder=""> -->
                            </div>
                            <div class="form-group">
                                <label>SR. NO.</label>
                                <input ng-focus="Model.input = 2;Model.keypad=Model.SrNo;Model.kbView = true" ng-model="Model.SrNo" type="text"  class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>USER NAME</label>
                                <select ng-model="Model.Username" class="form-control" ng-options="item.Name for item in Model.usersDataMaster" style="font-weight:bold" ng-change="userSelected()"></select>
                                <!-- <select class="form-control" ng-model="Model.Username" ng-change="userSelected()">
                                    <option ng-repeat="item in Model.usersDataMaster" value="{{item}}">{{item.Name}}</option>
                                </select> -->
                                <!-- <input ng-focus="Model.input = 3;Model.keypad=Model.Username;Model.kbView = true" ng-model="Model.Username" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder=""> -->
                            </div>
                            <div class="form-group">
                                <label>USER CODE</label>
                                <input disabled ng-focus="Model.input = 4;Model.keypad=Model.UserCode;Model.kbView = true" ng-model="Model.UserCode" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <!-- <div class="form-group">
                                <label>Extra</label>
                                <input ng-model="Model.Extra1" type="text" class="form-control" placeholder="">
                            </div> -->
                        </div>
                    </div><!-- /.box-body -->
                </form>
        </div>
        </div>
        <div class="col-md-6" ng-hide="Model.showAdminView || (Model.bearingMasterShow || Model.userMasterShow)">
            <div class="box box-primary">
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div>
                            <div class="form-group">
                                <label>SEARCH</label>
                                <button ng-click="searchBearing()" class="btn btn-success" style="width:100%">SEARCH BEARING SR. NO.</button>
                            </div>
                            <div class="form-group">
                                <label>BEFORE WEIGHT</label>
                                <input disabled ng-model="Model.BeforeWt" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>AFTER WEIGHT</label>
                                <input disabled ng-model="Model.AfterWt" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>RESULT WEIGHT</label>
                                <input disabled ng-model="Model.ResultWt" type="text" class="form-control" style="font-size:large;font-weight:bold" placeholder="">
                            </div>
                            <!-- <div class="form-group">
                                <label>Extra 2</label>
                                <input ng-model="Model.Extra2" type="text" class="form-control" placeholder="">
                            </div> -->
                            <!-- <div class="form-group">
                                <label>Extra 3</label>
                                <input ng-model="Model.Extra3" type="text" class="form-control" placeholder="">
                            </div> -->
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div>
        </div>
        
        <div class="col-md-12" ng-hide="Model.bearingMasterShow || Model.userMasterShow">
            <div class="box box-primary">
                <div class="row">
                    <div ng-hide="!Model.showAdminView" class="col-md-3">
                        <div class="form-group">
                            <label>From Date</label>
                            <input  ng-model="Model.fromDt" type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div ng-hide="!Model.showAdminView" class="col-md-3">
                        <div class="form-group">
                            <label>To Date</label>
                            <input  ng-model="Model.toDt" type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div ng-hide="!Model.showAdminView" class="col-md-3">
                        <div class="form-group">
                            <label style="opacity:0%">.</label>
                            <button ng-click="searchData()" class="btn btn-primary" style="width:100%">Search Data</button>
                        </div>
                    </div>
                </div>

                <!-- form start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-body table-responsive no-padding" style="max-height:600px;overflow-x: auto !important;">
                            <button ng-hide="!Model.showAdminView" export-to-csv ng-click="downloadData()"  class="btn btn-primary" style="width:150px;margin: 20px;">Download</button>
                            <table class="table">
                                <thead style="position: sticky;top: 0;background-color: lightgrey;color: black;font-size: larger;">
                                    <tr>
                                        <th style="width:5%">BEARING TYPE</th>
                                        <th style="width:10%;text-align: center;">SR.NO</th>
                                        <th style="width:10%;text-align: center;"> Before Greasing Weight</th>
                                        <th style="width:10%;text-align: center;">After Greasing Weight</th>
                                        <th style="width:10%;text-align: center;">Grease Amount</th>
                                        <th style="width:10%;text-align: center;">Status</th>
                                        <th style="width:10%;text-align: center;">Date Time</th>
                                        <th style="width:10%;text-align: center;">USER NAME</th>
                                        <th style="width:10%;text-align: center;">USER CODE</th>
                                        <th ng-hide="Model.showAdminView" style="width:10%;text-align: center;">PRINT</th>
                                        <th ng-hide="!Model.showAdminView" style="width:10%;text-align: center;">DELETE</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="item in Model.batchRecords track by $index">
                                    <td style="width:10%;text-align: center;">{{item.BEARING_TYPE}}</td>
                                    <td ng-click="selectBearing(item)" style="width:10%;text-align: center;">{{item.BEARING_NO}}</td>
                                    <td style="width:10%;text-align: center;">{{item.BEFORE_WEIGHT}}</td>
                                    <td style="width:10%;text-align: center;">{{item.AFTER_WEIGHT}}</td>
                                    <td style="width:10%;text-align: center;">{{item.RESULT_WEIGHT}}</td>
                                    <td style="width:10%;text-align: center;">{{item.EX1 == 1 ? 'OK':'NOT OK'}}</td>
                                    <td style="width:10%;text-align: center;">{{item.EX2}}</td>
                                    <td style="width:10%;text-align: center;">{{item.EMPNAME}}</td>
                                    <td style="width:10%;text-align: center;">{{item.EMPCODE}}</td>
                                    <td ng-hide="Model.showAdminView" style="width:10%;text-align: center;"><button ng-click="duplicate(item)" class="btn btn-primary" style="width:100%">PRINT</button></td>
                                    <td ng-hide="!Model.showAdminView" style="width:10%;text-align: center;"><button ng-click="removeItem(item)" class="btn btn-danger" style="width:100%">DELETE</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
    
</div><!-- ./wrapper -->

<!-- Bootstrap 3.3.2 -->
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Font Awesome Icons -->
<link href="../dist/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- Ionicons -->
<!--<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />-->
<link href="../dist/css/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<!-- Theme style -->
<link href="../dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link href="../dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
<!-- bootstrap slider -->
<link href="  ../plugins/bootstrap-slider/slider.css" rel="stylesheet" type="text/css" />

<!--Special-->
<!-- jQuery 2.1.3 -->
<script src="../plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../dist/js/app.min.js" type="text/javascript"></script>
<!--<script src="../plugins/knob/jquery.knob.js" type="text/javascript"></script>-->
<script src="../plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>-->



